body {
    background-color: burlywood;
}

nav {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    position: fixed;
}

#numTotalBooks {
    width: 150px;
    min-width: 100px;
    max-width: 200px;
    color: burlywood;
    line-height: 30px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(79, 21, 21);
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    height: 80px;
    color: burlywood;
    line-height: 80px;
    font-weight: bolder;
    width: 350px;
}

#addBookNav {
    width: 150px;
    min-width: 100px;
    max-width: 200px;
    height: 50px;
    background-color: rgb(79, 21, 21);
    color: burlywood;
    font-weight: 600;
    font-size: 1rem;

}

#searchContainer{
    margin: 10px;
    width: 98%;
    background-color: brown;
    border-radius: 10px;
    padding: 1rem;
}
#searchInput{
    width: 88%;
    height: 40px;
    border-radius: 10px;
    padding: 0.5rem;

}

#searchButton{
    width: 150px;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    background-color: rgb(79, 21, 21);
    color: burlywood;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;

}

.readSpan{
    margin: auto;
}






.container-fluid {
    padding-top: 80px;
}

.alertDiv {
    width: 100%;
    position: fixed;
}

#form {
    margin-left: 10px;
    min-width: 315px;
    width: 315px;
    max-width: 350px;
    background-color: brown;
    padding: 20px;
    border-radius: 20px;
    top: 100px;
}

label {
    color: white;
    
}
#yesLable{
    color: green;
    margin-left: 10px;
}
#noLabel{
    margin-left: 10px;
    color: red;
}


.bookSpace {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    gap: 10px; /* Adjust the gap value as needed */
}

.bookInfoBox {
    background-color: brown;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    min-width: 315px;
    width: 315px;
    max-width: 350px;
    color: white;
    margin: 10px;
    flex: 1;
}

@media (max-width: 600px) {
    .bookInfoBox {
        margin: auto;
    }

    
}

@media (max-width: 600px) {
    #form {
        margin: auto;
    }
}

#pForTitle {
    color: burlywood;
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: sans-serif;
}

h6 {
    color: white;
}
.emptyModel {
    background-color: brown;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    min-width: 315px;
    width: 315px;
    max-width: 350px;
    color: white;
    margin: 10px;
    flex: 1;

    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.addBookBtnInBookSpace, #deleteAllBtn {
    color: burlywood;
    border: 1px solid burlywood;
    height: 50px;
    border-radius: 10px;
    width: 300px;
    margin: 10px auto; /* Center buttons horizontally */
}

footer img {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
