*{
    margin: 0px;
}
body{
    /* background: rgb(121,22,5); */
    background-color: burlywood;
/* background: linear-gradient(90deg, rgba(121,22,5,1) 27%, rgba(195,163,120,1) 27%); */
}


 label{
    color: white;
 }



nav{
    background-color: brown;
    display: inline-flex;
  
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* To evenly distribute the items */
    align-items: center; /* To vertically center the items */
    width: 99vw;
    min-width: 100vw;
    max-width: 99vw;
    margin-bottom: 10px;
    border-bottom: 1px solid white;

}

#numTotalBooks{
    width: 12rem;
    min-width: 8rem;
    max-width: 20rem;
    color: white;
    line-height: 30px;
    font-weight: 600;
}


h1{
    text-align: center;
    height: 80px;
    color: burlywood;
    line-height: 80px;
    font-weight: bolder;
   width: 30rem;
   max-width: 30rem;
   min-width: 20rem;


   
}


#addBookNav{
    width: 12rem;
    min-width: 8rem;
    max-width: 20rem;
}




form{
 width: 385px;
 background-color: brown;
 padding: 20px;
 border-radius: 20px;
 top: 100px;
}


.Data{
    color: white;
    background-color: brown;
    border-radius: 20px;
    width: 385px;
    height: 210px;
    margin-top: 15px;
    padding: 20px;
    top: 470px;
}


#addBookFormBtn{
    width: 100%;
}
.row{
    /* display: flex;
    flex-wrap: wrap;
   */
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}
.bookSpace{
  
    display: flex;
    flex-wrap: wrap;
}

.bookInfoBox{
background-color: brown;
border-radius:  20px;
padding: 10px;
height: auto;
width: 350px;
color: white;
margin: 10px;
 }

#pForTitle{
    color: burlywood;
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
 
}
 p{
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
 }
 
 h6{
    color: white;
    text-align: start;
 }

 ul{
    display: flex;
 }
 li{
    background-color: rgb(79, 21, 21);
    border-radius: 10px;
    height: 50px;
    font-family: sans-serif;
    width: 12rem;
    padding: 10px;

 }

 #numTotalBooks{
    border-radius: 10px;
    background-color: rgb(79, 21, 21);
    margin-left: 5px;
    padding: 10px;
    height: 50px;
 }
 span{
   
 }


 footer img {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}